.money-flow-dialog {
  padding: 1rem 0;
  width: 100%;
  overflow-x: hidden;
}

.money-earning {
  display: flex;
  flex-direction: row; /* Keeps label and value in a horizontal row */
  gap: 0.25rem;
}

.money-earning-label {

  margin-bottom: 0.25rem;
}

.money-earning-value {
  display: flex;
  font-weight: 600;
  color: var(--color-data-green);
  gap: 0.5rem;
  white-space: nowrap;
}

.money-section {
  margin-top: 1rem;
  display: flex;
}

.section-title {
  margin-bottom: 0.25rem;
  text-align: center;
}

.money-table {
  width: 100%;
  border-collapse: collapse;
}

.money-row {
  width:100%;
  display: table-row;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.money-row:last-child {
  border-bottom: none;
}

.money-cell {
  padding: 0.75rem;
  display: flex; /* Use flex to align content horizontally */
  justify-content: space-between; /* Ensure label and value are spaced out */
  align-items: center; /* Align items in the center vertically */
  vertical-align: middle;
}

.edit-icon {
  margin-top: 0.75rem;
}

.money-total {
  font-weight: 600;
  border-bottom: 2px solid #e5e7eb;
}

.row-label {
  overflow: hidden;
  text-overflow: ellipsis;
}





.divider-thick {
  height: 2px;
  background-color: var(--color-object);
  margin: 0.5rem 0;
}
