/* Ensure dialog content has a relative position */
.category-dialog-content {
    position: relative !important; /* Required for absolute positioning of pagination */
}

/* Container for each slide */
.category-dialog-slide {
    padding: var(--intra-block-spacing);
    padding-left: 0;
}

/* Container that allows scrolling */
.dialog-scroll-container {
    flex-grow: 1;
    height: auto;
    -webkit-overflow-scrolling: touch; /* To prevent scroll cutoff on Safari Apple */
    max-height: 70vh; /* Prevents it from overflowing the screen */
    overflow-y: auto; /* Enables scroll only when needed */
    box-sizing: border-box; /* Ensure padding doesn’t break layout */
}

/* Hide Swiper's default pagination */
.category-dialog-content .swiper-pagination {
  display: none !important;
}

/* Custom pagination styles */
.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom:10px;
  z-index: 20;
}

.custom-pagination-dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5); /* Light gray color for inactive dots */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-pagination-dot.active {
  background-color: var(--color-accent-two);
}

/* Optionally, you can add hover effects */
.custom-pagination-dot:hover {
  background-color: var(--color-accent-three); /* Hover effect */
}

/* Swiper container styles */
.swiper-container {
  position: relative;
  height: 100%;
}
