/* ------------------------------- INFO "i" ICON ---------------------------------- */
.info-icon {
    margin-left: 6px;
    cursor: pointer;
    font-size: 0.75rem;
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }
  .info-icon:hover {
    opacity: 1;
  }

/* ------------------------------- PENCIL EDIT ICON ---------------------------------- */



.pencil-icon {
    cursor: pointer;
    color: var(--color-icon-info);
    transition: color 0.2s;
    font-size:15px;
    width: 16px;  /* Set the width of the icon */
    height: 16px; /* Set the height of the icon */
  }


  
  .edit-icon:hover {
    color: var(--color-accent-two);
  }




