.image-carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.image-scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 0.75rem;
  overflow-y: hidden; /* prevents accidental vertical scroll*/
  position: relative;
}

.image-slide {
  flex-shrink: 0;
  width: 100%;
  height: 150px; 
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  
}

.image-slide.active {
  transform: scale(1.02);
}

.carousel-image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: transform 0.3s ease;
  margin-top: 10px;  /* Add margin to the first image to avoid overlap */
}

.image-indicator {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  z-index: 10;
  pointer-events: none;
}


.indicator-dot {
  width: 5px;
  height: 5px;
  background-color: var( --color-accent-three);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
  z-index:200;
}

.indicator-dot.active {
  background-color: var( --color-accent-two);
}


/* Banner at the bottom of the image */
.property-details-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 92%;
  height:10%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 0 0.4rem 0.4rem;
  margin-left:13px;
}

/* Styling for each detail in the banner */
.property-sqft-detail {
  display: flex;
 font-size:13px;
 align-items:center;
}

.property-sqft-detail .icon {
  margin-right: 5px; /* Space between icon and text */
  font-size:15px;
}


