/* NavBar.css */
.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-backoffice-background);
    box-shadow: 0px 2px 8px var(--color-border-soft);
    border-top: 3px var(--color-border-soft);
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    height: 45px;
    z-index:9999;
  }
    
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-accent-three);
    text-decoration: none;
  }
  
  .nav-link.active {
    color: var(--color-accent-one);
  }
  
  .nav-link span {
    font-size: 10px;
  }
  

  