.money-flow-compact {
  width:100%;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .money-flow-columns {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
    
     }
  
  .money-flow-columns::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0.5px;
    background-color: #e5e7eb; 
    transform: translateX(-50%);
  }
  
  .money-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .money-label {
    padding-bottom: 0.5rem;
  }

  

  