/* Search Bar Container */
.search-bar-container {
    position: relative;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top:0px;
    flex-grow: 1;
    
  }
  
  /* Search Icon */
  .search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-accent-three);
    width: 20px;
    height: 20px;
  }
  
  /* Search Input Field */
  .search-input {
    border: 1px var(--color-border-soft);
    padding-left: 12px; /* Ensure space for the icon */
    padding-right: 12px;
    border-radius: 30px;
    width: 210px;
    height: 30px;
    font-size: 0.875rem;
    outline: none;
    background-color: var(--color-bg-mid);
  }
  
  .search-input::placeholder {
    color: var(--color-accent-three);
  }

    
  