/* tooltip.css */
.tooltip-container {
    position: absolute;
    /*visibility: hidden; /* Initially hidden */
    display: inline-block;
    z-index: 11000;
    width: auto;

}

.tooltip {
    visibility: hidden; /* Start as hidden */
    background-color: var(--color-accent-three);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px; /* Adequate padding */
    font-size: 14px; /* Ensure the text is readable */
    position: relative;
    z-index: 11000; /* Make sure it's on top */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; /* Delay visibility change */
    min-width: 150px; /* Minimum width */
    max-width: 250px; /* Optional: limit the width */
    word-wrap: break-word; /* Wrap long words */}

.tooltip-container.show-tooltip .tooltip {
    visibility: visible;
    opacity: 1; /* Ensure tooltip is visible when clicked */
    transition: opacity 0.3s ease-in-out, visibility 0s; /* Immediate visibility */
}

/* Dynamic positioning classes */
.tooltip-container.top .tooltip {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-container.bottom .tooltip {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-container.left .tooltip {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.tooltip-container.right .tooltip {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}
